<ul>
	<li><%= link_to "About PackRapt", about_path, :target => "_blank" %></li>
	<li><%= link_to "Support", support_path, :target => "_blank" %></li>
	<li><%= link_to "Pricing", pricing_path, :target => "_blank" %></li>
	<li><%= link_to "Investors", investors_path, :target => "_blank" %></li>
	<li><%= link_to "Community", community_path, :target => "_blank" %></li>
	<li><%= link_to "PackRapt Blog", blog_path, :target => "_blank" %></li>
	<li><%= link_to "Contact Us", contact_path, :target => "_blank" %></li>
	<li><%= link_to "Partners", partners_path, :target => "_blank" %></li>
</ul>
