<div id="container">
  <header>
	<%= render :partial => 'header' %>
  </header>
  <div id="main">
	<div id="search">
		<%= render :partial => 'search' %>
	</div><!--end Search-->
	<div id="add">
		<%= render :partial => 'add' %>
	</div><!--end Add to your stash-->
	<div id="video">
		<%= render :partial => 'video' %>
	</div><!--end video-->
  </div><!--end Main-->
 	<footer>
	<%= render :partial => 'footer' %>
	</footer>
</div>